
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Public Posts</title>

    </head>
{% extends 'index.html' %}



{% block content %}


{% for i in object_list %}


          <div style="box-shadow: 6px 6px 30px hsl(0,0%,90%);padding: 20px;" class="item mb-5">
            <div class="media">

              <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{i.img.url}}" alt="image">

              <div class="media-body">
                <h3 style="font-weight: 500;color: #202124;" class="title mb-1"><a href="{% url 'blogapp:postdetail' i.slug %}">{{i.title}}</a></h3>
                <div class="meta mb-1"><span class="date">{{i.timestamp}}</span><span class="time"></span><span id='likes_id' class="comment"><a href="#">{{i.likes}} likes</a></span></div>
                
            
                <div class="intro">{{i.intro|safe}}<a href="{% url 'blogapp:postdetail' i.slug %}">...Read more</a></div>
        
              </div><!--//media-body-->
            </div><!--//media-->
          </div><!--//item-->


{% endfor %}


{% endblock %}
 
</html>