{% extends 'postview.html' %}

{% block content %}

<div class="main-wrapper">
	    
  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
      <header class="blog-post-header">
        <h2 style="color:#333333;font-size: 35px;line-height: 45px;font-weight: 700;" class="title mb-2">{{object.title}}</h2>
        <div class="meta mb-3"><span class="date">{{object.timestamp}}</span></div>
      </header>
      
      <div class="blog-post-body">
        <figure class="blog-banner">
            <img class="img-fluid" src="{{object.img.url}}" alt="image"><br><br>
         
        </figure>
        <p>{{object.blog|safe}}</p>



</div><!--//main-wrapper-->

{% endblock %}

