{% extends 'index.html' %}

{% block content %}

{% for object in objects %}

<div class="item mb-5">
  <div class="media">

    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{object.img.url}}" alt="image">

    <div class="media-body">
      <h3 style="font-weight: 500;" class="title mb-1"><a style="color: darkslateblue;" href="{% url 'blogapp:postdetail' object.slug %}">{{object.title}}</a></h3>
      <div class="meta mb-1"><span class="date">{{object.timestamp}}</span></div>
      
  
      <div class="intro">{{object.intro|safe}}<a href="{% url 'blogapp:postdetail' object.slug %}">...Read more</a></div>

    </div><!--//media-body-->
  </div><!--//media-->
</div><!--//item-->

{% endfor %}

{% endblock %}