{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Programming Languages | top programming languages</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel = "stylesheet"  href="{% static 'css/index.css' %}">



</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">InfoMash</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->

      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <form style="margin-left: 10px;" action="search" method="get">
            <p style="color: grey;">Search - Enter:</p>
            <input style="padding: 9px; border-radius: 2px;border-width: 1px;font-size: 14px;width: 96%; font-family: monospace;" type="text" name='search' placeholder="Search top 10 ___ , Keywords Enter">
          </form><br>

          <li class="menu-active"><a href="/">Home</a></li>
          <li class="menu-has-children"><a href="">blogs</a>
            <ul>
              <li><a href="toptechnologies.html">Top 10 Technologies</a></li>
              <li><a href="rich-persons.html">Top Billionaires in the world</a></li>

            </ul>
          </li>
          <li><a href="#blog">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="accounts/login">Login</a><li>
          <li><a href="accounts/register">Signup</a></li>
  
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header --><br>
  


  <section id="get-started" class="padd-section text-center wow fadeInUp">

<div class='container'>
<div class="main">
 

  <h1 style="text-align: left;padding-bottom: 20px;font-family:helvetica;border-bottom: solid 2px;border-color: hsl(0,0%,86%);font-weight: bold;">Top 10 programming languages-2021</h1><br>

  <div>

    <h3 style="font-weight: bolder;line-height: 1;">1. Python</h3>

    <p class="para-font" style="margin-left: 30px;"><a href="Python"> Python</a> is incredibly one of the efficient programming language comes with simple syntax and concepts. Your code in python is very easy to read and debug. Developers use Python for many purposes like <i>Machine Learning and AI , Web development , Game development , GUI apps , automation etc</i>. Python community is really vast and it is very important to have a community support because programming isn't a solitary pursuit. Anyway python is considered as the programming language of fucture.</p>


  </div>


  <div>
    <h3 style="font-weight: bolder;line-height: 1;">2. Java</h3>

    <p class="para-font" style="margin-left: 30px;"><a href="#">Java</a> is a general purpose class based programming language in which every single code in java is an object. It is very powerful , fast and compiled language lets application developers to <i>Write once run anywhere(WORA)</i>. Java is mainly used to build Android apps and operating systems, Also it is used to build <i>Web applications , Games , Enterprise applications</i> etc. Java is a widely accepted open source programming language which runs in around 3 billion devices in the world.</p>
  </div><br>

                                                                                                                                                                                                              

  <div>
    <h3 style="font-weight: bolder;line-height: 1;">3. Kotlin</h3>

    <p class='para-font' style="margin-left: 30px;"><a href="#">Kotlin</a> is a general-purpose programming language created by <i>JetBrains</i>. Kotlin is designed to operate fully with Java, and the <i>JVM(Java Virtual Machine)</i> version of Kotlin's standard library depends on the Java Class Library. Kotlin is a developing technology and the developers are building lots of libraries for integrating kotlin with android. It is cross platform and focuses mainly on JVM but also compiles to JavaScript to develop front-end using JavaScript frameworks like <i>React.</i></p>
  </div><br>


  <div>
    <h3 style="font-weight: bolder;line-height: 1;">4. Node JS(JavaScript)</h3>

    <p class="para-font" style="margin-left: 30px;"><a href="#">JavaScript</a> is a interpreted general purpose programming language created mainly for front-end of web applications, It is used to design User interacting web sites along with <i>HTML and CSS</i>. But in the present JavaScript is being able to work on the back-end(server side) of web application using<i> Node JS and Express(JavaScript framework)</i>. So by only JavaScript we can create an entire web application from start to end. Moreover there are lots of powerful front-end libraries for JavaScript like <i>React , Angular , Vue etc</i>. The standard of scripting languages like JavaScript is <i>ECMAscript(European Computer Manufacturer's Association)</i>. </p>
  </div><br>


  <div>
    <h3 style="font-weight: bolder; line-height: 1">5. Swift</h3>

    <p class='para-font' style="margin-left: 30px;"><a href="#">Swift</a> is a general purpose compiled programming language developed by <i>Apple Inc</i> to build Apple operating systems and apps, It surpassed the formal language of Apple Inc the <i>Objective-C</i> with some of modern features and simpler syntax. It works on apple <i>cocoa touch frameworks</i> and is build with open source <i>LLVM compiler</i>. Some of the older version of swift only supports on mac operating system,But the latest version Swift 5.3 supports multiple platforms like windows , linux and mac as well.</p>
  </div><br>


  <div>
    <h3 style="font-weight: bolder;">6. Flutter</h3>
    <p class="para-font"></p>
  </div><br>



  <div>
    <h3 style="font-weight: bolder;">7. go</h3>
    <p class="para-font"></p>
  </div><br>


  <div>
    <h3 style="font-weight: bolder;">8. C++</h3>
    <p class="para-font"></p>
  

  </div><br>



  <div>
    <h3 style="font-weight: bolder;">9. C#</h3>
    <p class="para-font"></p>
  </div><br>



  <div>
    <h3 style="font-weight: bolder;">10. SQL</h3>

    <p class="para-font"></p>
  </div><br>



  
</div>
</div>
  </section>

  

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">


        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
       <h2>©</h2><p>Copyrights reserved Infomash 2021</p>
    </div>
  </footer>







  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>


<!--  <div style="margin-left: 20px;">
    <p style="font-size: 25px;color: mediumseagreen;">Features:</p>

    <p class="para-font">1. Python is a interpreted programming language </p>
        <p class="para-font" style="margin-left: 50px;">'In computer science, an interpreter is a computer program that directly executes instructions written in a programming without requiring them previously to have been compiled into a machine language program.</p>


    <p class="para-font">2. High level programming language(general purpose)</p>

        <p class="para-font" style="margin-left: 50px">A high-level programming language is a programming language with strong abstraction from the details of the computer. Unlike low-level programming languages, it may use natural language elements, be easier to use, or may automate significant areas of computing systems (e.g. memory management), making the process of developing a program simpler and more understandable than when using a lower-level language.</p>


    <p class="para-font">3. Object-oriented</p>

        <p class="para-font" style="margin-left: 50px;">'Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which can contain data. Data is in the form of fields also known as attributes or properties, and code, in the form of procedures known as methods. A feature of objects is that an object's own procedures can access and often modify the data fields of itself</p>


    <p class="para-font">4. Free and Open source</p>

        <p class="para-font" style="margin-left: 50px;">Open source is source code that is made freely available through out the internet with possible modification. Products include permission to use the source code, design documents, or content of the product. It most commonly refers to the open-source model, in which open-source software or other products are released under an open-source license.</p>


    <p class="para-font">5. Python is portable</p>

        <p class="para-font" style="margin-left: 50px;">Python is a portable language , ie it can run on any operating system like windows , linux , macos etc without actually changing the source code.</p>


    <p class="para-font">6. Easy to write and impliment code</p>

        <p class="para-font" style="margin-left: 50px;">The syntax of python is really not a task to learn , it is quite simple to learn for any person who is not from programming background.</p>


    <p class="para-font">7. Bunch of standard library</p>

        <p class="para-font" style="margin-left: 50px;">Python comes with lot of standard library in itself makes the workflow simpler.</p>


      <p style="font-size: 25px;color: mediumseagreen;">Applications:</p>

      <p class="para-font">1. Artificial Intelligence & Machine Learning</p>

          <p class="para-font" style="margin-left: 50px;">ML and AI is the fucture of our technological progress. Some of the libraries like 'Scikit-Learn' , 'Pandas' , 'Numpy' etc are widely used in case of ML , AI and also to create neural networks.</p>

      <p class="para-font">2. Data science</p>

          <p class="para-font" style="margin-left: 50px;">Data science is a booming technology in the present and for the fucture. In python, libraries like 'matplotlib','seaborn' are used to visualise data.</p>

      <p class="para-font">3. Web development</p>

          <p class="para-font" style="margin-left: 50px;">Python comes with very popular web development frameworks like 'Django' and 'Flask' which are very popular among developers.</p>

      <p class="para-font">4. Game development</p>

          <p class="para-font" style="margin-left:50px;">Libraries like 'Pygame' is used for Game development</p>

      <p class="para-font">5.-->

