{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Python</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel = "stylesheet"  href="{% static 'css/index.css' %}">



</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="/" class="scrollto">InfoMash</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->

      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <form style="margin-left: 10px;" action="search" method="get">
            <p style="color: grey;">Search - Enter:</p>
            <input style="padding: 9px; border-radius: 2px;border-width: 1px;font-size: 14px;width: 96%; font-family: monospace;" type="text" name='search' placeholder="Search top 10 ___ , Keywords Enter">
          </form><br>

          <li class="menu-active"><a href="index.html">Home</a></li>
          <li class="menu-has-children"><a href="">blogs</a>
            <ul>
              <li><a href="toptechnologies.html">Top 10 Technologies</a></li>
              <li><a href="rich-persons.html">Top Billionaires in the world</a></li>

            </ul>
          </li>
          <li><a href="#blog">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="accounts/login"></a>Login<li>
          <li><a href="accounts/register">Signup</a></li>
  
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header --><br>
  


  <section id="get-started" class="padd-section text-center wow fadeInUp">

<div class='container'>
<div class="main">
 

  <h1 style="text-align: left;padding-bottom: 20px;font-family:helvetica;border-bottom: solid 2px;border-color: hsl(0,0%,86%);font-weight: 600;">Python</h1><br>

      <p class="para-font" style="margin-left: 30px;">Python is incredibly one of the efficient programming language comes with simple syntax and concepts. Your code in python is very easy to read and debug. Developers use Python for many purposes like <i>Machine Learning and AI , Web development , Game development , GUI apps , automation etc</i>. Python community is really vast and it is very important to have a community support because programming isn't a solitary pursuit. Anyway python is considered as the programming language of fucture.</p>


 
<div style="margin-left: 10px;">
    <p style="font-size: 25px;color: mediumseagreen;">Features:</p>

    <p class="para-font">1. Python is a interpreted programming language </p>

        <p class="para-font" style="margin-left: 50px;"><i>An interpreter is a computer program that directly executes instructions written in a programming without requiring them previously to have been compiled into a machine language program. It is easy to spot errors when using an interpreted language</i></p>


    <p class="para-font">2. High level programming language(general purpose)</p>

        <p class="para-font" style="margin-left: 50px"><i>A high-level programming language is a programming language with strong abstraction from the details of the computer. Unlike low-level programming languages, it may use natural language elements, be easier to use, or may automate significant areas of computing systems (e.g. memory management), making the process of developing a program simpler and more understandable than when using a lower-level language.</i></p>


    <p class="para-font">3. Object-oriented</p>

        <p class="para-font" style="margin-left: 50px;"><i>'Object-oriented programming (OOP) is a programming paradigm based on the concept of "objects", which can contain data. Data is in the form of fields also known as attributes or properties, and code, in the form of procedures known as methods. A feature of objects is that an object's own procedures can access and often modify the data fields of itself.</i></p>


    <p class="para-font">4. Free and Open source</p>

        <p class="para-font" style="margin-left: 50px;"><i>Open source is source code that is made freely available through out the internet with possible modification. Products include permission to use the source code, design documents, or content of the product. It most commonly refers to the open-source model, in which open-source software or other products are released under an open-source license.</i></p>


    <p class="para-font">5. Python is portable</p>

        <p class="para-font" style="margin-left: 50px;"><i>Python is a portable language , ie it can run on any operating system like windows , linux , macos etc without actually changing the source code.</i></p>


    <p class="para-font">6. Easy to write and impliment code</p>

        <p class="para-font" style="margin-left: 50px;"><i>The syntax of python is really not a task to learn , it is quite simple to learn for any person who is not from programming background.</i></p>


    <p class="para-font">7. Bunch of standard library</p>

        <p class="para-font" style="margin-left: 50px;"><i>Python comes with lot of standard library in itself makes the workflow simpler.</i></p>

    <p class="para-font">8. Easy to debug code</p>

        <p class="para-font"style="margin-left: 50px;"><i>Since python syntax is very easy to learn it is also very easy to debug code written in python.</i>


      <p style="font-size: 25px;color: mediumseagreen;">Applications:</p>

      <p class="para-font">1. Artificial Intelligence & Machine Learning</p>

          <p class="para-font" style="margin-left: 50px;">ML and AI is the fucture of our technological progress. Some of the libraries like 'Scikit-Learn' , 'Pandas' , 'Numpy' etc are widely used in case of ML , AI and also to create neural networks.</p>

      <p class="para-font">2. Data science</p>

          <p class="para-font" style="margin-left: 50px;">Data science is a booming technology in the present and for the fucture. In python, libraries like 'matplotlib','seaborn' are used to visualise data.</p>

      <p class="para-font">3. Web development</p>

          <p class="para-font" style="margin-left: 50px;">Python comes with very popular web development frameworks like 'Django' and 'Flask' which are very popular among developers.</p>

      <p class="para-font">4. Game development</p>

          <p class="para-font" style="margin-left:50px;">Libraries like 'Pygame' is used for Game development</p>

      <p class="para-font">5. Desktop GUI</p>

          <p class="para-font" style="margin-left: 50px;">Python offers Desktop GUI apps by using libraries like Tkinter , PyQt , PyGui , Kivy etc.</p>

      <p class="para-font">6. Automation</p>

          <p class="para-font" style="margin-left: 50px;">Since python is very simple , it can be used for automating huge tasks with little amount of code.</p>

      <p class="para-font">7. Ethical Hacking</p>

          <p class="para-font" style="margin-left: 50px;">Due to lots of libraries and frameworks python is not excluded from ethical hacking and pentesting.</p>


    <p style="font-size: 25px;color: mediumseagreen;">Cons:</p>

        <p class="para-font">1. Speed - Python is an interpreted programming language thats why it is slow as compared to Java or C.</p>

        <p class="para-font">2. Memory usage - Python consumes lots of memory.</p>

        <p class="para-font">3. Runtime Errors - Python is dynamically typed and the datatypes can change at any time. This leads to runtime errors.  </p>

  
</div>
</div>
  </section>


  

  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
    <div class="container">
      <div class="row">


        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Abou Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
       <h2>©</h2><p>Copyrights reserved Infomash 2021</p>
    </div>
  </footer>







  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>

