<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>Signup</title>

    </head>

{% extends 'index.html' %}

{% block content %}


  <div class="reg-form" style='width: auto;box-shadow: 5px 5px 50px hsl(0,0%,90%);padding-top: 25px;padding-bottom: 25px;'>
    <form id='register-form' action="register" method="post">
      {% csrf_token %}
      <div class="container">
        <h1 style="font-weight: bolder;color: #006666;">Subscribe</h1>
        <p>Please fill in this form to Subscribe.</p>
        <hr>


          <label for="psw"><b style="color: grey;font-weight: 500;font-size: 17px;">First name</b></label>
          <input  style="border-radius: 0px;" class='form-control' type="text" placeholder="Enter firstname" name="first_name"  required>


          <label for="psw"><b style="color: grey;font-weight: 500;font-size: 17px;">Last name</b></label>
          <input  style="border-radius: 0px;" class='form-control' type="text" placeholder="Enter lastname" name="last_name">

          <label for="psw"><b style="color: grey;font-weight: 500;font-size: 17px;">Email</b></label>
          <input  style="border-radius: 0px;" class='form-control' type="text" placeholder="Enter Your Email" name="username" id="username-reg" required>

          <p id="username-val"></p>
  
        <hr>
        {% for message in messages %}
        <p style="font-size: 15px;font-weight: 400;color: tomato;">{{message}}</p>
        {% endfor %}
   
       
        <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>

  <div class="container signin">
  </div>
</form>

</div>


{% endblock %}