{% extends 'index.html' %}

{% block content %}



<div style="border: solid white;" class="card">
  <div style="background-color: white;" class="card-header">
    Search results:{{results}} {{search}}
  </div>


  <div class="card-body">
{% for search_data in search_datas %}

{% if search in search_data.title or search in search_data.blog %}


    <a style="font-size: 25px;font-weight: 600;color: #306998;" href="{% url 'blogapp:postdetail' search_data.slug %}" class="card-title">⚫ {{search_data.title|title}}</a>
    <p class="card-text">{{search_data.intro|safe}}<a href="{% url 'blogapp:postdetail' search_data.slug %}">. . . .Read more</a></p>
    <br>
    {% else %}
    

{% endif %}
{% endfor %}

 
  </div>
</div>


{% endblock %}