@charset "UTF-8";



.navbar{

	background-color: indigo;
	position: fixed;
	width:100%;
	top:0;
	padding:6px;
	float: all;

	
}



.web-name{


	font-size:30px;
	font-weight: 600;
	color: grey;
	text-shadow: 1px 1px 1px hsl(0,0%,85%);
	
	
}
.ii{

	font-family: monospace;
	font-weight: 900;
}

.darkmode{

	
	margin-left:2px;
	margin-right: 100px;
	padding-left: 6px;
	margin-top: 9px;
	color:black;



}
.whitemode{


	
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 100px;
	padding-left: 6px;
	color:grey;

}

#head{

	color:dodgerblue;
	font-weight: bolder;
	font-size: 30px;


}


#items{

	color:black;
	font-weight: bold;
	font-size: 12px;
	font-family:Helvetica;
	border-style:solid;
	border-width: 2px;
	border-radius:20px;
	padding-right: 18px;
	padding-left:18px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color:#47b2e4;

}
.item{

	color:white;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: 400;
	border-style: solid;
	border-radius:20px;
	border-width: 2px;
	border-color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;

}


.item:hover {

	background-color: white;
	color: black;

}

#login-button{

	position: absolute;
	align-items: right;
	right: 0;
	margin-top: 7px;
	margin-right: 20px;
}

#dropdownMenuButton{

	position: absolute;
	align-items: right;
	right: 0;
	margin-right: 150px;
	margin-top: 7px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	
}




@media (max-width: 760px){
	#items{

		display:none;
	}
	#dropdownMenuButton{

		position: absolute;
		align-items: right;
		right: 0;
		margin-right: 65px;
		margin-top: 7px;
		padding-left: 10px;
		padding-right: 10px;

	
	}

}
@media (max-width: 700px){
	.item{

		display:none;
	}
}

#list{

	font-size:30px;
	color: white;
}
#list:hover{

	color: black;
}
#search-icon:hover{

	color: black;
}
@media (min-width: 1024px){

	.glyphicon.glyphicon-align-justify{

		display: none;
	}
	#search-icon{

		display: none;
	}
	.main{

		margin-right: 300px;
	}
	.para-font{

		padding: 8px;
	}
	#login-button{

		position: absolute;
		align-items: right;
		right: 0;
		padding-left: 60px;
		padding-right: 60px;
		margin-top: 7px;
		margin-right: 20px;
	}
}

#search-icon{

	font-size: 30px;
	color: white;
}



.container{

	background-color: hsl(0,0%,100%);
	text-align: left;
	
}

body {font-family: "Helvetica", sans-serif;}

.sidebar {
  height: 95%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 62px;
  left: 0;
  overflow-x: hidden;
  background-color:  #f1f1f1;
  margin-top: 9px;
  border-right: double 1px;
  border-color: hsl(0,0%,86%);

}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(30,40,50,0.9);
  display: block;
  text-align:left;

}

.sidebar a:hover {
  color: mediumseagreen;
}

.main {
  margin-left: 5px; /* Same as the width of the sidenav */
  padding: 25px;
  margin-top: 5px;
  box-shadow: 5px 8px 35px hsl(0,0%,90%);

}

@media (max-width: 700px){

	.sidebar{

		display: none;
}

}



@media (max-width: 600px){

	.main{

		margin-left: 10px;

		
	}
}



@media (max-width: 600px){
	.text{

		padding:2px;
	}
}

#active{

	color:mediumseagreen;
	 
}

.sidebar-heading{

	color:black;
	padding:5px;
	font-style: unset;
	font-weight: bold;
}

.sub-header{

	font-weight: lighter;
	font-size:30px;
}

.para-font{

	font-size:20px;
	margin-top: 5px;
	text-align: justify;
	font-weight: normal;



}
.image{

	border-radius: 7px;
}




@media only screen and (max-width: 600px){
	.image{

		height: 250px;
		width: 300px;
		
	}

}

#form{

	box-shadow: 8px 8px 10px hsl(0,0%,85%); 
	margin-left: 60px;



}

#form p{

	padding:20px;
	color:white;
}

@media only screen and (min-width: 1000px){
	.content-section{

		margin-left: 30px;
		margin-top: 1px;

	}
}

@media only screen and (max-width: 600px){
	.content-section img{


		margin-top: 30px;

		height: 100px;
		width: 97px;
	}
	.content-section{

		margin-left: 10px;
	}
	.account-heading{

		font-size: 25px;

	}
}


.media-body{

	padding:30px;

}
.account-heading{

	margin-top: 1px;
	color:black;
	font-weight: 900;
}
